body {
    background-image: url("képek/Weboldali-Képek/tél.png");
 
}



@font-face {
  font-family: 'Koulen-Regular';
  src: url(betűtípusok/Koulen-Regular.ttf);
}

.Főoldal {
  background-image: url(.képek/főoldal-kép.png);
  font-family: 'Koulen-Regular', sans-serif;
   color: black;
   text-align: center;
   font-size: 3em;
   font-family: "betűtípusok/GrapeNuts-Regular.ttf";
   margin-top: 1cm;
   margin: 1cm;
   border-right:  3px rgb(0, 0, 0) solid;    
  border-left: 3px rgb(0, 0, 0) dotted;
  float: center;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 10px;
  
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.Főoldal-csatlakozok a{
  font-family: 'Koulen-Regular', sans-serif;
  color: black;
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
  border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: black;
}
.Főoldal-csatlakozok{
  font-family: 'Koulen-Regular', sans-serif;
  color: black;
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: black;
}

.vissza-txt a{
  font-family: 'Koulen-Regular', sans-serif;
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
 border-right:  3px rgb(0, 0, 0) solid;  
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: rgb(116, 0, 0);
}

.vissza-txt a:hover {
  font-family: 'Koulen-Regular', sans-serif;
  color: white;
  background: rgb(0, 0, 0);
}

.vissza-txt {
  font-family: 'Koulen-Regular', sans-serif , -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: rgb(116, 0, 0);
}

.Oldal-Design {
  color: black;
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 50px;
 margin-bottom: 20px;
 color: black;
}

.Főoldal h2{
  font-family: 'Koulen-Regular', sans-serif;
}
.vissza-leirás {
  font-size: 6mm;
  font-family: 'arial';
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 50px;
 margin-bottom: 20px;
 color: black;
}
.vissza-leirás h2{
  font-size: 6mm;
  font-family: 'arial';
  text-align: center;
 color: black;
}
.vissza-leirás h3{
  font-size: 5mm;
  font-family: 'arial';
  text-align: center;
 color: black;
}


.Szabályok{
  font-family: 'arial';
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: rgb(116, 0, 0);
}
.Szabályok a{
  font-family: 'arial';
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
 color: rgb(116, 0, 0);
}

.Szabályok :hover {
  color: rgb(0, 0, 0);
  
}

.Szabályok a:hover {
  font-family: , sans-serif;
  color: white;
  background: rgb(0, 0, 0);

}

.vissza-txt :hover {
  color: rgb(0, 0, 0);

}

.szabályok-színe {
  font-family: 'arial';
  color: rgb(0, 0, 0);

}

.Szabályok-elfogadása {
  font-family: 'Koulen-Regular';
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;
}

.Szabályok-elfogadása a{
  font-family: 'Koulen-Regular';
  color: rgb(116, 0, 0);
  text-align: center;
  margin-top: 1cm;
  margin: 1cm;
    border-right:  3px rgb(0, 0, 0) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;
 
 margin-top: 20px;
 margin-bottom: 20px;

}
.Szabályok-txt h2{


 font-family: 'impact';
 font-size: 10mm;
 color: rgb(0, 0, 0);
 text-align: center;
 margin-top: 1cm;
 margin: 1cm;
 border-right:  3px rgb(0, 255, 42) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
border-radius: 10px;

margin-top: 50px;
margin-bottom: 20px;
}

.főoldal-Háttérkép {
  background-image: url(képek/Főoldal-kép.png);
  height: auto;
  width: auto;
}

.Csatlakozok-txt {
 font-family: 'impact';
 font-size: 10mm;
 color: rgb(0, 0, 0);
 text-align: center;
 margin-top: 1cm;
 margin: 1cm;
 border-right:  3px rgb(0, 255, 42) solid;    
 border-left: 3px rgb(0, 0, 0) dotted;
 border: 3px rgb(0, 0, 0) solid;
 border-radius: 10px;

 margin-top: 50px;
 margin-bottom: 20px;
}



